html {
  font: normal 16px/1 "pontano-sans", Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: -webkit-linear-gradient(80.53767779197443deg, rgba(145,232,242,1) 0, rgba(145,232,242,1) 29%, rgba(124,188,10,1) 70%, rgba(124,188,10,1) 100%);
  background: -moz-linear-gradient(9.462322208025569deg, rgba(145,232,242,1) 0, rgba(145,232,242,1) 29%, rgba(124,188,10,1) 70%, rgba(124,188,10,1) 100%);
  background: linear-gradient(9.462322208025569deg, rgba(145,232,242,1) 0, rgba(145,232,242,1) 29%, rgba(124,188,10,1) 70%, rgba(124,188,10,1) 100%);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: auto auto;
  background-size: auto auto;
  padding-top: 20px;
  padding-left: 10px;
}
.svg-button {
  padding-left: 200px;
  padding-bottom: 50px;
  margin: 4px 2px;
  cursor: pointer;
}

.tag-input-box {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: auto;
  padding: 1% 0 2%;
  border: 1px solid #000000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: normal 16px/normal Verdana, Geneva, sans-serif;
  color: rgba(0,0,0,1);
  text-align: justify;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  word-spacing: 8%;
  background: rgba(241,169,78,1);
}

.url-input-box {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 54%;
  margin: auto;
  padding: 1% 0 2%;
  border: 1px solid #000000;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: normal 16px/normal Verdana, Geneva, sans-serif;
  color: rgba(0,0,0,1);
  text-align: justify;
  vertical-align: middle;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  word-spacing: 8%;
  background: rgba(241,169,78,1);
}

.hide-button {
  display: none;
}